/*
Theme Name: TwentyTwelve Child Theme
Author: Howar31
Template: twentytwelve
*/

@import url("../twentytwelve/style.css");
@import url("../twentytwelve/editor-style.css");
@font-face{
    font-family: "OrbitronMedium";
    src: url('fonts/OrbitronMedium.ttf'),
    url('fonts/OrbitronMedium.ttf');
}
@keyframes blink {
   0%	{color: #C3F2FF;}
   100%	{color: #FFF;}
 }
@-webkit-keyframes blink {
   0%	{color: #C3F2FF;}
   100%	{color: #FFF;}
 }
/*
@font-face{
    font-family: "NotoSans";
    src: url('fonts/NotoSansCJKtc-Regular.otf'),
    url('fonts/NotoSansCJKtc-Regular.otf');  
}
*/

.archive-title,
.page-title,
.widget-title,
th,
.comment-content th {
	color: #C3F2FF;
}

ul.donation {
	font-size: 1.2rem;
}
ul.donation li {
	list-style: none;
	margin: 15px 0px;
	background: rgba(23, 29, 37, 0.5);
	border-left: 5px solid #233644;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	transition-duration: 0.3s;
	cursor: default;
}
ul.donation li:hover {
	background: rgba(35, 54, 68, 0.5);
	border-left: 5px solid #C3F2FF;
	transition-duration: 0.3s;
}
ul.donation li:hover div {
	color: #FFF;
	transition-duration: 0.3s;
}
ul.donation li:hover div:first-child {
	text-shadow: 0 0 65px #0DA8FF;
}
ul.donation li:before {
	display: table;
	content: " ";
}
ul.donation li:after {
	display: table;
	content: " ";
	clear: both;
}
ul.donation li div {
	float: left;
	border-right: 1px dashed #226286;
	padding-left: 20px;
	margin: 20px 0px;
	transition-duration: 0.3s;
	position: relative;
	white-space: nowrap;
}
ul.donation li div:last-child {
	border-right: none;
}
ul.donation li div.donation_name {
	width: 40%;
}
ul.donation li div.donation_amount {
	width: 20%;
}
ul.donation li div.donation_date {
	width: 20%;
}
ul.donation li div.donation_name:before {
	content: "Name";
}
ul.donation li div.donation_amount:before {
	content: "Donation";
}
ul.donation li div.donation_date:before {
	content: "Date";
}
ul.donation li div.donation_name:before,
ul.donation li div.donation_amount:before,
ul.donation li div.donation_date:before {
	display: block;
	position: absolute;
	top: -15px;
	left: 15px;
	font-size: 0.7rem;
	font-style: italic;
	color: #226286;
}

ul.trans {
	font-size: 1.2rem;
}
ul.trans li {
	list-style: none;
	margin: 15px 0px;
	background: rgba(23, 29, 37, 0.5);
	border-left: 5px solid #233644;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	transition-duration: 0.3s;
	cursor: default;
}
ul.trans li:hover {
	background: rgba(35, 54, 68, 0.5);
	border-left: 5px solid #C3F2FF;
	transition-duration: 0.3s;
}
ul.trans li:hover div {
	color: #FFF;
	transition-duration: 0.3s;
}
ul.trans li:hover div:first-child {
	text-shadow: 0 0 65px #0DA8FF;
}
ul.trans li:before {
	display: table;
	content: " ";
}
ul.trans li:after {
	display: table;
	content: " ";
	clear: both;
}
ul.trans li div {
	float: left;
	padding-left: 20px;
	margin: 20px 0px;
	transition-duration: 0.3s;
	position: relative;
}
ul.trans li div:first-child {
	border-right: 1px dashed #226286;
}
ul.trans li div.trans_eng, 
ul.trans li div.trans_cht {
	width: 45%;
}
ul.trans li div.trans_note {
	width: 95%;
	color: #2083A9;
	font-size: 0.8em;
}
ul.trans li div.trans_eng:before {
	content: "英文原文";
}
ul.trans li div.trans_cht:before {
	content: "中文翻譯";
}
ul.trans li div.trans_note:before {
	content: "說明";
}
ul.trans li div.trans_eng:before,
ul.trans li div.trans_cht:before,
ul.trans li div.trans_note:before {
	display: block;
	position: absolute;
	top: -15px;
	left: 15px;
	font-size: 0.7rem;
	font-style: italic;
	color: #226286;
}

ul.tablabel {
	font-size: 1.2rem;
}
ul.tablabel li {
	list-style: none;
	margin: 15px 0px;
	background: rgba(23, 29, 37, 0.5);
	border-left: 5px solid #233644;
	border-radius: 0px 5px 5px 0px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
	transition-duration: 0.3s;
	cursor: default;
}
ul.tablabel li:hover {
	background: rgba(35, 54, 68, 0.5);
	border-left: 5px solid #C3F2FF;
	transition-duration: 0.3s;
}
ul.tablabel li:hover div {
	color: #FFF;
	transition-duration: 0.3s;
}
ul.tablabel li:hover div.tablabel_main {
	text-shadow: 0 0 65px #0DA8FF;
}
ul.tablabel li:after {
	display: table;
	content: " ";
	clear: both;
}
ul.tablabel li div.tablabel_main {
	width: 95%;
	margin: 20px 0px 10px 0px;
}
ul.tablabel li div.tablabel_content {
	width: 95%;
	color: #2083A9;
	font-size: 0.8em;
	margin: 10px 0px 20px 0px;
}
ul.tablabel li div.tablabel_main,
ul.tablabel li div.tablabel_content {
	position: relative;
	float: left;
	padding-left: 20px;
	transition-duration: 0.3s;
	position: relative;
}
ul.tablabel li div.tablabel_main p,
ul.tablabel li div.tablabel_content p {
	margin: 0px;
}
ul.tablabel li div.tablabel_main_title,
ul.tablabel li div.tablabel_content_title {
	display: block;
	position: absolute;
	top: -15px;
	left: 15px;
	font-size: 0.7rem;
	font-style: italic;
	color: #226286;
}

body {
	color: #6ABBCF;
	background-color: #000B11;
	font-family: 'OrbitronMedium', 'NotoSans', 'Noto Sans CJK TC', '微軟正黑體';
	max-width: 1018px;
}

button, 
input[type="submit"], 
input[type="button"], 
input[type="reset"] {
	color: #FFCD55;
	border: none;
	box-shadow: none;
	background: none;
	transition-duration: 0.3s;
	font-size: 1.2em;
}

button:hover, 
button:active, 
button:focus, 
input[type="submit"]:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:active, 
input[type="button"]:active, 
input[type="reset"]:active, 
input[type="submit"]:focus, 
input[type="button"]:focus, 
input[type="reset"]:focus, 
article.post-password-required input[type=submit]:hover  {
	color: #FFF;
	border: none;
	box-shadow: none;
	background: none;
	transition-duration: 0.3s;
}
input[type="text"] {
	border: none;
	box-shadow: none;
	background: none;
	border: 1px solid #0D1F2C;
	border-top-color: #286E80;
	background: url('images/horizontal-lined-bg.png') repeat, rgba(0, 0, 0, 0.4);
	color: #C3F2FF;
	transition-duration: 0.3s;
	outline: none;
}
input[type="text"]:hover,
input[type="text"]:focus {
	box-shadow: 0px 0px 10px 1px #00E0FF;
	transition-duration: 0.3s;
}
a {
	color: #00BDFD;
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.3s;
}
a:hover {
	color: #C3F2FF;
	transition-duration: 0.3s;
}
a:hover, a:active, a:focus, a:visited, object, embed, button {
	outline: none;
}
::selection {
	background: #B3D4FC;
	text-shadow: none;
}
::-moz-selection {
	background: #B3D4FC;
	text-shadow: none;
}
hr {
	height: 5px;
	background: url('images/double-line-sep-1018.png') repeat-x center top, url('images/double-line-sep-1018.png') repeat-x center bottom;
	margin-left: 0;
	margin-right: 0;
}

article.sticky .featured-post {
	border-top: none;
	border-bottom: none;
	color: #40E6F0;
}
.mce-content-body>p:first-of-type::first-letter {
	font-size: 3em;
	text-shadow: 0 0 1px #FFF, 0 0 65px #0DA8FF;
	line-height: 1em;
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}
p {
	line-height: 2;
	margin: 24px 0px;
	font-size: 1.2em;
}
h1 {
	font-size: 2em;
	font-weight: normal;
	color: #FFF;
	text-shadow: 0 0 60px rgba(255, 255, 255, 0.4);
}
h2 {
	font-size: 1.6em;
	font-weight: normal;
	color: #B1D8F1;
}
h3 {
	font-size: 1.4em;
	font-weight: normal;
	color: #42EDF8;
}
h4 {
	font-size: 1.2em;
	font-weight: normal;
	color: #FDD68C;
}
h5 {
	font-size: 0.8em;
	font-weight: normal;
	color: #0F0;
	clear: none;
}
h6 {
	font-size: 0.8em;
	font-weight: normal;
	color: #AAA;
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	margin: 0px;
	border-radius: 5px;
	clear: none;
}
blockquote {
	color: #FFF;
	text-shadow: 0 0 60px rgba(255, 255, 255, 0.4);
}
blockquote>p {
	margin: 0;
}
blockquote>p::first-letter {
	font-size: 3em;
	line-height: 1em;
	text-shadow: 0 0 1px #00E0FF, 0 0 65px #0DA8FF;
}
table {
	border-bottom: none;
	margin: 10px 0px;
}
td,
th {
	border-top: none;
	border-bottom: 1px solid #465F7A;
}
.mce-item-table td,
.mce-item-table th {
	padding: 6px;
	text-align: left;
	color: #999;
	border-top: none !important;
	border-bottom: 1px dashed #465F7A;
	border-left: none;
	border-right: 1px dashed #465F7A;
	background-color: rgba(0, 0, 0, 0.3);
}
.mce-item-table td:first-child,
.mce-item-table th:first-child {
	white-space: nowrap;
}
table tr td strong,
table tr th strong {
	color: #FFF;
}
a:visited {
	color: #00BDFD;
}
a:hover {
	color: #C3F2FF;
}

.wp-caption .wp-caption-dd,
.gallery-caption,
.entry-caption {
	color: #65818A;
	font-style: italic;
	text-align: center;
	margin: 0;
	padding: 0;
}
