/*
Theme Name: TwentyTwelve Child Theme
Author: Howar31
Template: twentytwelve
*/

@import url("../twentytwelve/style.css");
@font-face{
    font-family: "OrbitronMedium";
    src: url('fonts/OrbitronMedium.ttf'),
    url('fonts/OrbitronMedium.ttf');
}
@keyframes blink {
   0%	{color: #C3F2FF;}
   100%	{color: #FFF;}
 }
@-webkit-keyframes blink {
   0%	{color: #C3F2FF;}
   100%	{color: #FFF;}
 }
/*
@font-face{
    font-family: "NotoSans";
    src: url('fonts/NotoSansCJKtc-Regular.otf'),
    url('fonts/NotoSansCJKtc-Regular.otf');  
}
*/

.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
	color: #C3F2FF;
}
.entry-content .donation th {
	color: #00BDFD;
	font-size: 1.5em;
	border-bottom: 1px solid #FFF;
	padding: 0px 0px 0px 10px;
	text-shadow: 1px 1px 2px #000;	
}
.entry-content .donation td {
	color: #C3F2FF;
	font-size: 1.7em;
	font-style: italic;
	text-shadow: 0 0 1px #00E0FF, 0 0 11px #00A0B6;
	border-top: none;
	padding: 0px 0px 0px 10px;
	cursor: pointer;
}
.entry-content .donation tr:hover td {
	animation-name: blink;
	animation-duration: 700ms;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	-webkit-animation-name: blink;
	-webkit-animation-duration: 700ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	background: rgba(255, 255, 255, 0.1);
	color: #FFF;
}
.entry-content .donation td:first-child::first-letter {
	font-size: 1.8em;
}

.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	color: #C3F2FF;
}

body {
	color: #6ABBCF;
	background-color: #000B11;
}
body.custom-font-enabled {
	font-family: 'OrbitronMedium', 'NotoSans', 'Noto Sans CJK TC', '微軟正黑體';
}
body .site {
	margin-top: 0px;
	margin-bottom: 0px;
	box-shadow: none;
	background: none;
	max-width: 1200px;
}

.site-header h1 a,
.site-header h2 a {
	color: #C3F2FF;
	text-shadow: 0 0 65px #0DA8FF;
	transition-duration: 0.7s;
}
.site-header h1 a:hover,
.site-header h2 a:hover {
	color: #FFF;
	text-shadow: 0 0 1px #00E0FF, 0 0 65px #0DA8FF;
	transition-duration: 0.7s;
}
.site-header h2 {
	color: #40E6F0;
	font-style: italic;
}
.site-header .site-description {
	color: #2083A9;
}

hgroup {
	float: left;
	margin-bottom: 20px;
}
.headerR {
	text-align: right;
	display: inline-block;
	position: relative;
	top: 10px;
	float: right;
}
.headerR .fb-like {
	margin-left: 10px;
	height: 20px;
}
.headerR .rss-link {
	display: inline-block;
	line-height: 20px;
	vertical-align: top;
	margin: 0 10px;
	font-style: italic;
}
.fb-like {
    overflow: hidden;
}
.nav-search {
	margin-top: 5px;
	text-align: right;
}
.nav-search form {
	display: inline-block;
}

.menu-toggle {
	margin-top: 10px;
}
.menu-toggle,
button, 
input[type="submit"], 
input[type="button"], 
input[type="reset"] {
	color: #FFCD55;
	border: none;
	box-shadow: none;
	background: none;
	transition-duration: 0.3s;
	font-size: 1.2em;
}
.menu-toggle:hover,
.menu-toggle:active, 
.menu-toggle:focus, 
.menu-toggle.toggled-on, 
button:hover, 
button:active, 
button:focus, 
input[type="submit"]:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:active, 
input[type="button"]:active, 
input[type="reset"]:active, 
input[type="submit"]:focus, 
input[type="button"]:focus, 
input[type="reset"]:focus, 
article.post-password-required input[type=submit]:hover  {
	color: #FFF;
	border: none;
	box-shadow: none;
	background: none;
	transition-duration: 0.3s;
}
input[type="text"] {
	border: none;
	box-shadow: none;
	background: none;
	border: 1px solid #0D1F2C;
	border-top-color: #286E80;
	background: url('images/horizontal-lined-bg.png') repeat, rgba(0, 0, 0, 0.4);
	color: #C3F2FF;
	transition-duration: 0.3s;
	outline: none;
}
input[type="text"]:hover,
input[type="text"]:focus {
	box-shadow: 0px 0px 10px 1px #00E0FF;
	transition-duration: 0.3s;
}
a {
	color: #00BDFD;
	text-decoration: none;
	cursor: pointer;
	transition-duration: 0.3s;
}
a:hover {
	color: #C3F2FF;
	transition-duration: 0.3s;
}
a:hover, a:active, a:focus, a:visited, object, embed, button {
	outline: none;
}
::selection {
	background: #B3D4FC;
	text-shadow: none;
}
::-moz-selection {
	background: #B3D4FC;
	text-shadow: none;
}
hr {
	height: 1px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 0px 10px 1px #FFF;
}

.menu-main-container {
	background: rgba(2, 14, 27, 0.8);
}
.menu-main-container li {
	padding: 0px 20px;
	margin: 0;
	transition-duration: 0.3s;
	border-bottom: 2px solid rgba(2, 14, 27, 0.8);
}
.menu-main-container li:hover {
	text-shadow: 0 0 1px #00E0FF, 0 0 11px #00A0B6;
	border-bottom: 2px solid #00E0FF;
	transition-duration: 0.3s;
}
.main-navigation {
	margin: 0px;
	clear: both;
}
.main-navigation a {
	color: #40E6F0;
}
.main-navigation a:hover,
.main-navigation a:focus {
	color: #FFF;
	text-shadow: 0px 0px 10px #FFF;	
}
#menu-main {
	box-shadow: 0px 0px 1px 1px #000;
	border-radius: 5px;
}
.main-navigation li a {
	line-height: 3;
	font-size: 1.3em;
	color: #40E6F0;
}
.main-navigation li a:hover,
.main-navigation li a:focus {
	color: #FFF;
	text-shadow: 0px 0px 10px #FFF;	
}
.main-navigation li ul li {
	padding: 0;
	margin-top: 5px;
	box-shadow: 2px 2px 1px 1px #000;
	border-bottom: 2px solid rgba(2, 14, 27, 0.8);
}
.main-navigation li ul li:hover {
	box-shadow: 2px 2px 3px 3px #000;
	border-bottom: 2px solid #00E0FF;
}
.main-navigation li ul li a {
	color: #40E6F0;
	font-size: 1.3em;
	padding: 10px 20px;
	background: rgba(2, 14, 27, 0.8);
	border: none;
}
.main-navigation li ul li a:hover,
.main-navigation li ul li a:focus {
	color: #FFF;
	text-shadow: 0px 0px 10px #FFF;	
	background: rgba(2, 14, 27, 0.95);
}
.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
	color: #C3F2FF;
}
.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
	border: none;
}

.widget-area .widget a {
	color: #40E6F0;
}
.widget-area .widget a:hover {
	color: #C3F2FF;
}

footer[role="contentinfo"] {
	border-top: none;
	max-width: 1200px;
	color: #2083A9;
	position: relative;
	margin-top: 60px;
}
footer[role="contentinfo"] a {
	color: #2083A9;
}
footer[role="contentinfo"] a:hover {
	color: #C3F2FF;
}

.error-title {
	background: url(images/red_stripes.png) no-repeat left;
	color: #F00;
	padding: 10px 0px 10px 10px;
}
.error-msg {
	color: #F00;
}

.entry-header {
	margin-bottom: 20px;
}
.entry-header .tbottom {
	width: 100%;
	height: 7px;
	border-top: 1px solid #1681A5;
	border-left: 1px solid #1681A5;
	display: block;
}
.wp-post-image-holder {
	border: 1px solid rgba(0, 162, 253, 0.15);
	padding: 10px;
	margin: 0px;
	position: relative;
}
img.wp-post-image {
	width: 100%;
	margin-bottom: 0px;
}
.corner {
	position: absolute;
	background-image: url("images/minor-border-corner.png");
	width: 8px;
	height: 8px;
	display: block;
}
.corner-top-left {
	background-position: 0 0;
	top: -1px;
	left: -1px;
}
.corner-top-right {
	background-position: -2px 0;
	top: -1px;
	right: -1px;
}
.corner-bottom-left {
	background-position: 0 -2px;
	bottom: -1px;
	left: -1px;
}
.corner-bottom-right {
	background-position: -2px -2px;
	bottom: -1px;
	right: -1px;
}
.format-status .entry-header header a {
	color: #40E6F0;
}
.format-status .entry-header header a:hover {
	color: #FFF;
}
.entry-header-content {
	border-top: 1px solid #00E6FF;
	background: url('images/horizontal-lined-bg.png') repeat;
	font-size: 24px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 57px;
	line-height: 57px;
}
.entry-header-content a,
.entry-header-content .entry-title  {
	height: 57px;
	line-height: 57px;
	color: #40E6F0;
	font-weight: normal;
}
.entry-header-content a:hover {
	color: #FFF;
	text-shadow: 0px 0px 10px #FFF;	
}
.entry-header-content .ttop {
	width: 100px;
	height: 2px;
	background-color: #00E6FF;
}
.entry-header-content .entry-title {
	padding-left: 65px;
	background: url('images/content-block4-icon.png') no-repeat left center;
}
.entry-header-content .comments-link {
	color: #40E6F0;
}

article.sticky .featured-post {
	border-top: none;
	border-bottom: none;
	color: #40E6F0;
}
.entry-content {
	margin-top: 20px;
	padding: 90px;
	background: url('images/fading-bars-top.png') repeat-x top left, url('images/fading-bars-bottom.png') repeat-x bottom left, rgba(0, 0, 0, 0.4);
	border: 1px solid #0D1F2C;
	border-top-color: #286E80;
	position: relative;
}
.entry-content-content {
	background: url(images/bg_large_lines.png);
	font-size: 1.2em;
	color: #73B1CB;
}
.entry-content-content>p:first-of-type::first-letter {
	font-size: 3em;
	text-shadow: 0 0 1px #FFF, 0 0 65px #0DA8FF;
	line-height: 1em;
	float: left;
	padding-right: 10px;
	padding-top: 5px;
}
.entry-content-content p {
	line-height: 2;
	margin: 24px 0px;
}
.entry-content-content h1 {
	font-size: 2em;
	font-weight: normal;
	color: #FFF;
	text-shadow: 0 0 60px rgba(255, 255, 255, 0.4);
}
.entry-content-content h2 {
	font-size: 1.6em;
	font-weight: normal;
	color: #B1D8F1;
}
.entry-content-content h3 {
	font-size: 1.4em;
	font-weight: normal;
	color: #42EDF8;
}
.entry-content-content h4 {
	font-size: 1.2em;
	font-weight: normal;
	color: #FDD68C;
}
.entry-content-content h5 {
	font-size: 0.8em;
	font-weight: normal;
	color: #0F0;
	clear: none;
}
.entry-content-content h6 {
	font-size: 0.8em;
	font-weight: normal;
	color: #AAA;
	background: rgba(255, 255, 255, 0.1);
	padding: 10px;
	margin: 0px;
	border-radius: 5px;
	clear: none;
}
.entry-content-content blockquote {
	color: #FFF;
	text-shadow: 0 0 60px rgba(255, 255, 255, 0.4);
}
.entry-content-content blockquote>p {
	margin: 0;
}
.entry-content-content blockquote>p::first-letter {
	font-size: 3em;
	line-height: 1em;
	text-shadow: 0 0 1px #00E0FF, 0 0 65px #0DA8FF;
}
.entry-content table,
.comment-content table {
	border-bottom: none;
	margin: 10px 0px;
}
.entry-content td {
	border-top: none;
}
.entry-content table tr td {
	padding: 6px;
	text-align: left;
	color: #999;
	border-bottom: 1px dashed #465F7A;
	border-right: 1px dashed #465F7A;
	background-color: rgba(0, 0, 0, 0.3);
}
.entry-content table tr td strong {
	color: #FFF;
}
.entry-content .corner {
	background-image: url('images/account_corners.png');
	width: 30px;
	height: 30px;
}
.entry-content .corner-top-left {
	background-position: 0 0;
	position: absolute;
	top: -5px;
	left: 0;
}
.entry-content .corner-top-right {
	background-position: -30px 0;
	position: absolute;
	top: -5px;
	right: 0;
}
.entry-content .corner-bottom-left {
	background-position: 0 -30px;
	position: absolute;
	bottom: -5px;
	left: 0;
}
.entry-content .corner-bottom-right {
	background-position: -30px -30px;
	position: absolute;
	bottom: -5px;
	right: 0;
}

.site-content {
	margin: 0;
}
.site-content article {
	border-bottom: none;
	margin-bottom: 60px;
	padding-bottom: 0px;
}

footer.entry-meta {
	margin-top: 0px;
	margin-bottom: 20px;
	color: #00BDFD;
}
.comments-link a,
.entry-meta a {
	color: #00BDFD;
}
.comments-link a:hover,
.entry-meta a:hover{
	color: #C3F2FF;
}
.entry-content a:visited,
.comment-content a:visited {
	color: #00BDFD;
}
.entry-content a:hover,
.comment-content a:hover {
	color: #C3F2FF;
}
.entry-meta .meta-source {
	color: #2083A9;
}
div.meta-source a ,
div.meta-source a:visited {
	color: #2083A9;
}
div.meta-source a:hover {
	color: #C3F2FF;
}

.mu_register h2 {
	color: #40E6F0;
}

.archive-header,
.page-header {
	border-bottom: none;
	margin: 0;
	padding: 0;
}
.archive-meta {
	color: #40E6F0;
}

article.format-aside h1 a {
	text-decoration: none;
	color: #40E6F0;
}
article.format-aside h1 a:hover {
	color: #FFF;
}

.comments-area article header a:hover {
	color: #FFF;
}
.comments-area article header cite a:hover {
	text-decoration: none;
}

.template-front-page .widget-area .widget li a {
	color: #40E6F0;
}
.template-front-page .widget-area .widget li a:hover {
	color: #C3F2FF;
}

.sc-logo {
	background: url('images/logo_star_citizen.png') no-repeat center;
	width: 100%;
	height: 337px;
	bottom: -20px;
	z-index: -1;
	position: absolute;
}

@media (max-width: 500px) {
	.entry-content {
		padding: 20px;
	}
	body .site {
		margin: 0;
		padding: 0;
	}
}
@media (min-width: 501px) and (max-width: 800px) {
	.entry-content {
		padding: 50px;
	}
}